
<h2>Agregar material design</h2>
<div class="example-container" style="padding: 1rem;">
    <mat-form-field>
      <input matInput placeholder="Usuario">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Constraseña">
      </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>