<div style="padding: 1rem">

<h2>Eventos</h2>

<h3>Click</h3>
<button
  mat-raised-button 
  color="primary"
  (click)="grita()"
  >Gritar
</button>

<h3>KeyUp</h3>
<mat-form-field>
  <input (keyup)="suelta($event)" matInput placeholder="Sueltame">
</mat-form-field>

<h3>KeyDown</h3>
<mat-form-field>
  <input (keydown)="pulsa($event)" matInput placeholder="Pulsame">
</mat-form-field>

<h3>Press Enter</h3>
<mat-form-field>
  <input (keyup.enter)="pulsa($event)" matInput placeholder="Presiona Enter">
</mat-form-field>

<h3>Referencias</h3>
<mat-form-field>
  <input #NombreUsuario matInput placeholder="Nombre usuario">
</mat-form-field>

  <button
  mat-raised-button 
  color="primary"
  (click)="gritaNombreUsuario(NombreUsuario)"
  >ver nombre de usuario
</button>

<h3>DataBinding, ngModel, caja de bananos</h3>
<p>Requiere importar!! </p>
<mat-form-field>
    <input matInput name="password" 
    ="fields.password" placeholder="Contraseña">
  </mat-form-field>

  <p>{{ fields.password }} </p>

<pre> {{fields | json}} </pre>


</div>